In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf
import keras_tuner as kt
import keras as kr

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Apps < 500")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3            27037
T4             1542
T6             1216
T5             1173
T19            1065
T8              737
T7              725
T10             528
Apps < 500      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
counts_binning = application_df['CLASSIFICATION'].value_counts()
counts_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_classifications = counts_binning[counts_binning>1]
counts_classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Classification < 1000")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000                    17326
C2000                     6074
C1200                     4837
Classification < 1000     2261
C3000                     1918
C2100                     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Define bins
bins = [0, 10000, 50000, 100000, np.inf]
labels = ['0-10k', '10k-50k', '50k-100k', '100k+']

# Add a new column to the dataframe with the binned values
application_df['ASK_AMT_RANGE'] = pd.cut(application_df['ASK_AMT'], bins=bins, labels=labels)

In [11]:
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [12]:
names_to_replace = list(application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < 5].index)
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"names<10")
application_df['NAME'].value_counts()

names<10                                                             19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_RANGE_0-10k,ASK_AMT_RANGE_10k-50k,ASK_AMT_RANGE_50k-100k,ASK_AMT_RANGE_100k+
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [14]:
application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'NAME_AACE INTERNATIONAL',
       'NAME_ACE MENTOR PROGRAM OF AMERICA INC', 'NAME_ACTS MINISTRY',
       'NAME_ACTS MISSIONS',
       'NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS',
       'NAME_AIR FORCE ASSOCIATION', 'NAME_ALABAMA FEDERATION OF WOMENS CLUBS',
       ...
       'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+',
       'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y', 'ASK_AMT_RANGE_0-10k',
       'ASK_AMT_RANGE_10k-50k', 'ASK_AMT_RANGE_50k-100k',
       'ASK_AMT_RANGE_100k+'],
      dtype='object', length=451)

In [15]:
application_df.drop(columns=['ASK_AMT'], inplace=True)
application_df.columns

Index(['STATUS', 'IS_SUCCESSFUL', 'NAME_AACE INTERNATIONAL',
       'NAME_ACE MENTOR PROGRAM OF AMERICA INC', 'NAME_ACTS MINISTRY',
       'NAME_ACTS MISSIONS',
       'NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS',
       'NAME_AIR FORCE ASSOCIATION', 'NAME_ALABAMA FEDERATION OF WOMENS CLUBS',
       'NAME_ALABAMA TREASURE FOREST ASSOCIATION',
       ...
       'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+',
       'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y', 'ASK_AMT_RANGE_0-10k',
       'ASK_AMT_RANGE_10k-50k', 'ASK_AMT_RANGE_50k-100k',
       'ASK_AMT_RANGE_100k+'],
      dtype='object', length=450)

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# def create_model(hp):
#     nn_model = tf.keras.models.Sequential()
#     activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])
#     nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
#                                         min_value=1,
#                                         max_value=100,
#                                         step=2), activation=activation, input_dim=len(X_train_scaled[0])))
#     for i in range(hp.Int('num_layers', 1, 4)):
#         nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
#                                         min_value=1,
#                                         max_value=30,
#                                         step=2), activation=activation))
#     nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
#     loss = hp.Choice('loss', ['binary_crossentropy', 'mse'])
#     optimizer = hp.Choice('optimizer', ['adam', 'rmsprop', 'sgd', 'adagrad'])
#     nn_model.compile(loss=loss, optimizer=optimizer, metrics=["accuracy"])
    
#     return nn_model

In [19]:
# tuner = kt.Hyperband(create_model, objective='val_accuracy', max_epochs=20, hyperband_iterations=10, directory='my_dir2', project_name='intro_to_kt')

In [20]:
# tuner.search(X_train_scaled, y_train, epochs=20, validation_data=(X_test_scaled, y_test))

In [21]:
# best_hyper = tuner.get_best_hyperparameters(1)[0]
# best_hyper.values

In [22]:
# # Evaluate best model against full test data
# best_model = tuner.get_best_models(1)[0]
# model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  97
hidden_nodes_layer2 = 11
hidden_nodes_layer3 = 25
hidden_nodes_layer4 = 11

output_dim = 1



nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="sigmoid"))




# Output layer
nn_model.add(tf.keras.layers.Dense(output_dim, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 97)                43650

 dense_11 (Dense)            (None, 11)                1078

 dense_12 (Dense)            (None, 25)                300

 dense_13 (Dense)            (None, 11)                286

 dense_14 (Dense)            (None, 1)                 12

=================================================================
Total params: 45,326
Trainable params: 45,326
Non-trainable params: 0
_________________________________________________________________

In [28]:
nn_model.compile(loss="mse", optimizer="rmsprop", metrics=["accuracy"])

In [29]:

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, initial_epoch= 0)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1790 - accuracy: 0.7527
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1462 - accuracy: 0.7942
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1431 - accuracy: 0.7975
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1423 - accuracy: 0.7980
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1416 - accuracy: 0.7989
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1410 - accuracy: 0.7999
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1406 - accuracy: 0.8000
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1403 - accuracy: 0.8025
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1398 - accuracy: 0.8018
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1395 - accuracy: 0.8014
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1392 - accuracy: 0.8025
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1390 - accuracy: 0.8026
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1389 - accuracy: 0.8028
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1388 - accuracy: 0.8026
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1386 - accuracy: 0.8035
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1385 - accuracy: 0.8035
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1383 - accuracy: 0.8030
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1384 - accuracy: 0.8036
Epoch 19/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1382 - accuracy: 0.8037
Epoch 20/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1382 - accuracy: 0.8045
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1378 - accuracy: 0.8042
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1380 - accuracy: 0.8049
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1377 - accuracy: 0.8053
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1378 - accuracy: 0.8047
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1377 - accuracy: 0.8048
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1375 - accuracy: 0.8052
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1374 - accuracy: 0.8047
Epoch 28/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1373 - accuracy: 0.8046
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1373 - accuracy: 0.8056
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1372 - accuracy: 0.8055
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1371 - accuracy: 0.8059
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1370 - accuracy: 0.8050
Epoch 33/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1369 - accuracy: 0.8055
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1368 - accuracy: 0.8070
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1366 - accuracy: 0.8075
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1366 - accuracy: 0.8058
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1365 - accuracy: 0.8063
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1365 - accuracy: 0.8065
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1365 - accuracy: 0.8058
Epoch 40/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1363 - accuracy: 0.8066
Epoch 41/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1364 - accuracy: 0.8061
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1362 - accuracy: 0.8064
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1361 - accuracy: 0.8075
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1361 - accuracy: 0.8069
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1362 - accuracy: 0.8075
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1361 - accuracy: 0.8071
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1361 - accuracy: 0.8070
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1359 - accuracy: 0.8064
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1359 - accuracy: 0.8071
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1359 - accuracy: 0.8074
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1358 - accuracy: 0.8070
Epoch 52/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1359 - accuracy: 0.8068
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1358 - accuracy: 0.8077
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1357 - accuracy: 0.8073
Epoch 55/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1357 - accuracy: 0.8071
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1354 - accuracy: 0.8087
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1355 - accuracy: 0.8071
Epoch 58/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1355 - accuracy: 0.8078
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1353 - accuracy: 0.8070
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1352 - accuracy: 0.8085
Epoch 61/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1353 - accuracy: 0.8077
Epoch 62/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1352 - accuracy: 0.8080
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1352 - accuracy: 0.8079
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1352 - accuracy: 0.8075
Epoch 65/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1352 - accuracy: 0.8084
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1352 - accuracy: 0.8084
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1353 - accuracy: 0.8088
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1352 - accuracy: 0.8084
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1353 - accuracy: 0.8086
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1351 - accuracy: 0.8084
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1350 - accuracy: 0.8089
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1351 - accuracy: 0.8087
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1352 - accuracy: 0.8081
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1351 - accuracy: 0.8087
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1352 - accuracy: 0.8084
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1350 - accuracy: 0.8083
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1350 - accuracy: 0.8095
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1351 - accuracy: 0.8090
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1350 - accuracy: 0.8087
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1350 - accuracy: 0.8089
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1349 - accuracy: 0.8089
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1348 - accuracy: 0.8091
Epoch 83/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1349 - accuracy: 0.8091
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1348 - accuracy: 0.8093
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1348 - accuracy: 0.8094
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1350 - accuracy: 0.8094
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1348 - accuracy: 0.8089
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1347 - accuracy: 0.8087
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1347 - accuracy: 0.8100
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1347 - accuracy: 0.8092
Epoch 91/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1346 - accuracy: 0.8087
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1347 - accuracy: 0.8089
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1347 - accuracy: 0.8090
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1347 - accuracy: 0.8094
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1346 - accuracy: 0.8096
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1345 - accuracy: 0.8089
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1347 - accuracy: 0.8096
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1348 - accuracy: 0.8091
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1347 - accuracy: 0.8088
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1347 - accuracy: 0.8096

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.1455 - accuracy: 0.7888 - 754ms/epoch - 3ms/step
Loss: 0.14553621411323547, Accuracy: 0.7888046503067017

In [28]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity2.h5")