In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf
import keras_tuner as kt

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Apps < 500")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3            27037
T4             1542
T6             1216
T5             1173
T19            1065
T8              737
T7              725
T10             528
Apps < 500      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
counts_binning = application_df['CLASSIFICATION'].value_counts()
counts_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_classifications = counts_binning[counts_binning>1]
counts_classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Classification < 1000")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000                    17326
C2000                     6074
C1200                     4837
Classification < 1000     2261
C3000                     1918
C2100                     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Define bins
bins = [0, 10000, 50000, 100000, np.inf]
labels = ['0-10k', '10k-50k', '50k-100k', '100k+']

# Add a new column to the dataframe with the binned values
application_df['ASK_AMT_RANGE'] = pd.cut(application_df['ASK_AMT'], bins=bins, labels=labels)

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Apps < 500,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_RANGE_0-10k,ASK_AMT_RANGE_10k-50k,ASK_AMT_RANGE_50k-100k,ASK_AMT_RANGE_100k+
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [12]:
application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Apps < 500',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Classification < 1000', 'USE_CASE_CommunityServ',
       'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation',
       'USE_CASE_ProductDev', 'ORGANIZATION_Association',
       'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation',
       'ORGANIZATION_Trust', 'INCOME_AMT_0', 'INCOME_AMT_1-9999',
       'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999',
       'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999',
       'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y', 'ASK_AMT_RANGE_0-10k',
       'ASK_AMT_RANGE_10k-50k', 'ASK_AMT_RANGE_50k-100k',
       'ASK_AMT_RANGE_100k+'],
      dtype='object')

In [13]:
application_df.drop(columns=['ASK_AMT'], inplace=True)
len(application_df.columns)

47

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid', 'leaky_relu'])
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                        min_value=1,
                                        max_value=80,
                                        step=2), activation=activation, input_dim=len(X_train_scaled[0])))
    for i in range(hp.Int('num_layers', 1, 10)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                        min_value=1,
                                        max_value=80,
                                        step=2), activation=activation))
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
    loss = hp.Choice('loss', ['binary_crossentropy', 'mse', 'mae', 'mape', 'msle', 'poisson'])
    optimizer = hp.Choice('optimizer', ['adam', 'rmsprop', 'sgd', 'adagrad', 'adadelta', 'adamax', 'nadam'])
    nn_model.compile(loss=loss, optimizer=optimizer, metrics=["accuracy"])
    return nn_model

In [28]:
tuner = kt.Hyperband(create_model, objective='val_accuracy', max_epochs=20, hyperband_iterations=10, directory='my_dir2', project_name='intro_to_kt')

In [29]:
tuner.search(X_train_scaled, y_train, epochs=20, validation_data=(X_test_scaled, y_test))

Trial 60 Complete [00h 01m 40s]
val_accuracy: 0.7269970774650574

Best val_accuracy So Far: 0.728863000869751
Total elapsed time: 00h 44m 21s
INFO:tensorflow:Oracle triggered exit

In [30]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'leaky_relu',
 'first_units': 53,
 'num_layers': 1,
 'units_0': 13,
 'loss': 'msle',
 'optimizer': 'adam',
 'units_1': 73,
 'units_2': 47,
 'units_3': 69,
 'units_4': 55,
 'units_5': 61,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0019'}

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  59
hidden_nodes_layer2 = 11
hidden_nodes_layer3 = 25
hidden_nodes_layer4 = 71
hidden_nodes_layer5 = 65




nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="tanh"))



# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 59)                2773

 dense_4 (Dense)             (None, 11)                660

 dense_5 (Dense)             (None, 25)                300

 dense_6 (Dense)             (None, 71)                1846

 dense_7 (Dense)             (None, 65)                4680

 dense_8 (Dense)             (None, 1)                 66

=================================================================
Total params: 10,325
Trainable params: 10,325
Non-trainable params: 0
_________________________________________________________________

In [21]:
nn_model.compile(loss="mse", optimizer="sgd", metrics=["accuracy"])

In [22]:
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 0.2136 - accuracy: 0.6799
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1995 - accuracy: 0.7125
Epoch 3/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1966 - accuracy: 0.7191
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1948 - accuracy: 0.7227
Epoch 5/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1934 - accuracy: 0.7251
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1923 - accuracy: 0.7255
Epoch 7/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1914 - accuracy: 0.7259
Epoch 8/100
804/804 [==============================] - 4s 6ms/step - loss: 0.1905 - accuracy: 0.7266
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1898 - accuracy: 0.7270
Epoch 10/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1892 - accuracy: 0.7275
Epoch 11/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1887 - accuracy: 0.7291
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1881 - accuracy: 0.7307
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1876 - accuracy: 0.7301
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1871 - accuracy: 0.7307
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1865 - accuracy: 0.7303
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1863 - accuracy: 0.7311
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1859 - accuracy: 0.7316
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1856 - accuracy: 0.7320
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1855 - accuracy: 0.7316
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1852 - accuracy: 0.7317
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1850 - accuracy: 0.7329
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1849 - accuracy: 0.7326
Epoch 23/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1847 - accuracy: 0.7337
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1846 - accuracy: 0.7345
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1844 - accuracy: 0.7335
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1843 - accuracy: 0.7340
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1841 - accuracy: 0.7339
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1840 - accuracy: 0.7339
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1839 - accuracy: 0.7346
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1838 - accuracy: 0.7346
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1837 - accuracy: 0.7349
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1836 - accuracy: 0.7345
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1835 - accuracy: 0.7349
Epoch 34/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1834 - accuracy: 0.7348
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1832 - accuracy: 0.7343
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1832 - accuracy: 0.7349
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1831 - accuracy: 0.7355
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1830 - accuracy: 0.7357
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1829 - accuracy: 0.7349
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1828 - accuracy: 0.7349
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1827 - accuracy: 0.7350
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1826 - accuracy: 0.7351
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1826 - accuracy: 0.7351
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1825 - accuracy: 0.7353
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1824 - accuracy: 0.7356
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1824 - accuracy: 0.7357
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1823 - accuracy: 0.7359
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1822 - accuracy: 0.7360
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1822 - accuracy: 0.7356
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1821 - accuracy: 0.7367
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1821 - accuracy: 0.7370
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1820 - accuracy: 0.7364
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1819 - accuracy: 0.7368
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1819 - accuracy: 0.7370
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1818 - accuracy: 0.7374
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1818 - accuracy: 0.7384
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1818 - accuracy: 0.7365
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1816 - accuracy: 0.7367
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1816 - accuracy: 0.7368
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1814 - accuracy: 0.7382
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1817 - accuracy: 0.7375
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1815 - accuracy: 0.7387
Epoch 63/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1815 - accuracy: 0.7374
Epoch 64/100
804/804 [==============================] - 4s 6ms/step - loss: 0.1813 - accuracy: 0.7377
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1813 - accuracy: 0.7383
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1813 - accuracy: 0.7382
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1813 - accuracy: 0.7376
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1813 - accuracy: 0.7379
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1812 - accuracy: 0.7380
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1811 - accuracy: 0.7381
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1811 - accuracy: 0.7391
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1810 - accuracy: 0.7385
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1810 - accuracy: 0.7374
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1810 - accuracy: 0.7390
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1810 - accuracy: 0.7381
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1810 - accuracy: 0.7386
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1808 - accuracy: 0.7387
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1808 - accuracy: 0.7390
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1808 - accuracy: 0.7383
Epoch 80/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1808 - accuracy: 0.7390
Epoch 81/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1808 - accuracy: 0.7389
Epoch 82/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1806 - accuracy: 0.7398
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1806 - accuracy: 0.7383
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1807 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1807 - accuracy: 0.7388
Epoch 86/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1805 - accuracy: 0.7397
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1804 - accuracy: 0.7396
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1806 - accuracy: 0.7394
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1804 - accuracy: 0.7396
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1805 - accuracy: 0.7403
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1805 - accuracy: 0.7400
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1804 - accuracy: 0.7395
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1803 - accuracy: 0.7406
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1803 - accuracy: 0.7392
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1802 - accuracy: 0.7395
Epoch 96/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1803 - accuracy: 0.7391
Epoch 97/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1801 - accuracy: 0.7398
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1803 - accuracy: 0.7393
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1802 - accuracy: 0.7395
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1802 - accuracy: 0.7404

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.1864 - accuracy: 0.7279 - 858ms/epoch - 3ms/step
Loss: 0.18638290464878082, Accuracy: 0.7279300093650818

In [24]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity2.h5")