In [1]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in c:\users\micha\anaconda3\envs\ml_main\lib\site-packages (1.3.5)
Requirement already satisfied: packaging in c:\users\micha\anaconda3\envs\ml_main\lib\site-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in c:\users\micha\anaconda3\envs\ml_main\lib\site-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in c:\users\micha\anaconda3\envs\ml_main\lib\site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\micha\appdata\roaming\python\python39\site-packages (from requests->keras-tuner) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\micha\anaconda3\envs\ml_main\lib\site-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\micha\anaconda3\envs\ml_main\lib\site-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\micha\anaconda3\envs\ml_main\lib\site-packages (from requests->keras-tuner) (2023.7.22)

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

In [3]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 1000].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Apps < 1000")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3             27037
Apps < 1000     2266
T4              1542
T6              1216
T5              1173
T19             1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
counts_binning = application_df['CLASSIFICATION'].value_counts()
counts_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_classifications = counts_binning[counts_binning>5]
counts_classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 2000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Classification , 2000")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000                    17326
C2000                     6074
Classification , 2000     6062
C1200                     4837
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Apps < 1000,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid', 'leaky_relu'])
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                        min_value=1,
                                        max_value=80,
                                        step=2), activation=activation, input_dim=len(X_train_scaled[0])))
    for i in range(hp.Int('num_layers', 1, 10)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                        min_value=1,
                                        max_value=80,
                                        step=2), activation=activation))
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
    nn_model.compile(loss="mse", optimizer="rmsprop", metrics=["accuracy"])
    return nn_model

In [21]:
tuner = kt.Hyperband(create_model, objective='val_accuracy', max_epochs=20, hyperband_iterations=10, directory='my_dir', project_name='intro_to_kt')

In [22]:
tuner.search(X_train_scaled, y_train, epochs=20, validation_data=(X_test_scaled, y_test))

Trial 300 Complete [00h 02m 07s]
val_accuracy: 0.7248979806900024

Best val_accuracy So Far: 0.7278134226799011
Total elapsed time: 03h 59m 36s
INFO:tensorflow:Oracle triggered exit

In [23]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 59,
 'num_layers': 5,
 'units_0': 11,
 'units_1': 25,
 'units_2': 71,
 'units_3': 65,
 'units_4': 35,
 'units_5': 27,
 'units_6': 1,
 'units_7': 17,
 'units_8': 3,
 'units_9': 69,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0132'}

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  59
hidden_nodes_layer2 = 11
hidden_nodes_layer3 = 25
hidden_nodes_layer4 = 71
hidden_nodes_layer5 = 65




nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="tanh"))



# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 59)                2301

 dense_7 (Dense)             (None, 11)                660

 dense_8 (Dense)             (None, 25)                300

 dense_9 (Dense)             (None, 71)                1846

 dense_10 (Dense)            (None, 65)                4680

 dense_11 (Dense)            (None, 1)                 66

=================================================================
Total params: 9,853
Trainable params: 9,853
Non-trainable params: 0
_________________________________________________________________

In [25]:
nn_model.compile(loss="mse", optimizer="sgd", metrics=["accuracy"])

In [26]:
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.2154 - accuracy: 0.6793
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1997 - accuracy: 0.7130
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1966 - accuracy: 0.7231
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1949 - accuracy: 0.7247
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1939 - accuracy: 0.7242
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1931 - accuracy: 0.7247
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1924 - accuracy: 0.7254
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1918 - accuracy: 0.7251
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1913 - accuracy: 0.7260
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1908 - accuracy: 0.7256
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1904 - accuracy: 0.7272
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1901 - accuracy: 0.7278
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1898 - accuracy: 0.7275
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1895 - accuracy: 0.7283
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1894 - accuracy: 0.7284
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1891 - accuracy: 0.7281
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1888 - accuracy: 0.7283
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1888 - accuracy: 0.7285
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1886 - accuracy: 0.7287
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1884 - accuracy: 0.7292
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1882 - accuracy: 0.7287
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1881 - accuracy: 0.7290
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1880 - accuracy: 0.7291
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1879 - accuracy: 0.7287
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1878 - accuracy: 0.7293
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1876 - accuracy: 0.7297
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1876 - accuracy: 0.7297
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1875 - accuracy: 0.7297
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1874 - accuracy: 0.7296
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1873 - accuracy: 0.7300
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1872 - accuracy: 0.7305
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1872 - accuracy: 0.7302
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1871 - accuracy: 0.7307
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1871 - accuracy: 0.7312
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1869 - accuracy: 0.7296
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1869 - accuracy: 0.7301
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1868 - accuracy: 0.7315
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1868 - accuracy: 0.7308
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1867 - accuracy: 0.7310
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1866 - accuracy: 0.7317
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1866 - accuracy: 0.7322
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1866 - accuracy: 0.7311
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1865 - accuracy: 0.7321
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1865 - accuracy: 0.7315
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1864 - accuracy: 0.7318
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1863 - accuracy: 0.7323
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1863 - accuracy: 0.7318
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1863 - accuracy: 0.7324
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1863 - accuracy: 0.7318
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1862 - accuracy: 0.7321
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1862 - accuracy: 0.7326
Epoch 52/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1861 - accuracy: 0.7325
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1861 - accuracy: 0.7322
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1859 - accuracy: 0.7332
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1860 - accuracy: 0.7329
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1860 - accuracy: 0.7325
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1859 - accuracy: 0.7322
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1858 - accuracy: 0.7336
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1859 - accuracy: 0.7324
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1857 - accuracy: 0.7326
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1858 - accuracy: 0.7322
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1856 - accuracy: 0.7327
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1856 - accuracy: 0.7327
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1856 - accuracy: 0.7334
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1857 - accuracy: 0.7327
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1855 - accuracy: 0.7332
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1855 - accuracy: 0.7332
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1855 - accuracy: 0.7325
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1854 - accuracy: 0.7323
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1855 - accuracy: 0.7331
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1854 - accuracy: 0.7326
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1854 - accuracy: 0.7338
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1854 - accuracy: 0.7325
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1853 - accuracy: 0.7330
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1854 - accuracy: 0.7332
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1853 - accuracy: 0.7335
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1853 - accuracy: 0.7342
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1852 - accuracy: 0.7330
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1852 - accuracy: 0.7336
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1853 - accuracy: 0.7340
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1853 - accuracy: 0.7335
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1851 - accuracy: 0.7334
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1851 - accuracy: 0.7344
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1850 - accuracy: 0.7344
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1851 - accuracy: 0.7339
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1851 - accuracy: 0.7341
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1850 - accuracy: 0.7343
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1850 - accuracy: 0.7340
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1850 - accuracy: 0.7342
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1850 - accuracy: 0.7337
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1849 - accuracy: 0.7345
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1849 - accuracy: 0.7343
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1850 - accuracy: 0.7345
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1849 - accuracy: 0.7338
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1848 - accuracy: 0.7342
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1849 - accuracy: 0.7338
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1848 - accuracy: 0.7339
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1848 - accuracy: 0.7341
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1848 - accuracy: 0.7343
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1848 - accuracy: 0.7348

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.1902 - accuracy: 0.7234 - 673ms/epoch - 3ms/step
Loss: 0.19021137058734894, Accuracy: 0.7233819365501404

In [ ]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity2.h5")